@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url(/fonts/Montserrat/Montserrat-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"),
    url(/fonts/Montserrat/Montserrat-SemiBold.ttf) format("woff");
}
@font-face {
  font-family: "Domine-Bold";
  src: local("Domine-Bold"), url(/fonts/Domine/Domine-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url(/fonts/Montserrat/Montserrat-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
    url(/fonts/Montserrat/Montserrat-Medium.ttf) format("woff");
}
