body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.container {
  @include page-margin;
}
.line {
  border: none;
  border-top: solid 1px #ececec;
}
.btn-disabled {
  background-color: #d4d3d3 !important;
  cursor: not-allowed !important;
}
.size-active.MuiButton-root {
  border: unset;
  background-color: #ffa15f;
  span.MuiButton-label {
    @include text-style(Montserrat-Bold, 14px, 22px, #ffffff);
  }
}
.color-active {
  opacity: 0.5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}