body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  @include page-margin;
}
.line {
  border: none;
  border-top: solid 1px #ececec;
}
.btn-disabled {
  background-color: #d4d3d3 !important;
  cursor: not-allowed !important;
}
.size-active.MuiButton-root {
  border: unset;
  background-color: #ffa15f;
  span.MuiButton-label {
    @include text-style(Montserrat-Bold, 14px, 22px, #ffffff);
  }
}
.color-active {
  opacity: 0.4;
  border: 2px solid #202124 !important;
}
.category-active {
  span {
    color: #ff6900 !important;
  }
}
.size-active.MuiButton-root {
  border: unset;
  background-color: #ffa15f;
  span {
    @include text-style(Montserrat-Bold, 14px, 22px, #ffffff);
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.f-right {
  float: right;
}
.text-regular-grey {
  @include text-style(Montserrat-Regular, 14px, 22px, #b7b7b7);
}
.text-bold-dark {
  @include text-style(Montserrat-Bold, 14px, 22px, #202124);
}
