body {
  background-color: #f6f6f6;
}
.admin-container {
  margin: 26px 20px;
}
.admin-feature-bar {
  margin: 32px 0;
}
.admin-content-table {
  border-radius: 2px;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  width: 100%;
  min-height: 640px; //Fix me
}
.admin-name {
  margin-left: 16px;
  font-family: "Montserrat-Bold";
  line-height: 24px;
  font-size: 14px;
  color: #202124;
}
