* {
  box-sizing: border-box;
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: none;
    &:visited {
      color: inherit; /* blue colors for links too */
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.sidebar {
  width: 220px;
  border-right: 1px solid #ededed;
  background-color: #f6f6f6;
  .sidebar-logo {
    margin: 32px 44px;
  }
}

.sidebar-menu {
  width: 100%;
  // background: #fbfbfb;
  // border: 0.5px solid #eaeaea;
  li {
    padding: 0;
    @include text-style("Montserrat-Medium", 14px, 20px, #3d3d3f);
    &::hover {
      color: #ffa15f;
    }
  }
  .sidebar-menu-icon {
    margin: 12px 20px;
  }
  .selected {
    border-left: 6px solid #ffa15f;
    background-color: darken($color: #ffffff, $amount: 8);
  }
}
