* {
  box-sizing: border-box;
}
.sidebar {
  min-width: 220px;
  height: 300px;
  border-right: 1px solid #ededed;
}
.sidebar-menu div:nth-child(3) {
  box-shadow: none;
  border-radius: 0px;
}
.sidebar-menu-icon {
  margin: 12px 20px;
}
.sidebar-menu li {
  padding: 0;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  line-height: 20px;
  color: #3d3d3f;
}
.sidebar-menu li:hover {
  color: #ffa15f;
}
.sidebar-menu ul {
  background: #fbfbfb;
  border: 0.5px solid #eaeaea;
}
.sidebar-logo {
  margin: 32px 44px;
}
