.footer {
  margin-top: 37px;
  box-shadow: 0 -5px 5px -5px #ececec;
  .footer-row {
    @include page-margin;
    min-height: 130px;
    @include flex-space-between-center;
  }
  .footer-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    min-height: 65px;
  }
  .footer-nav {
    @include flex-center-center;
    li {
      margin: auto 18px;
      display: inline-block;
      a {
        @include text-style(Montserrat-Regular, 14px, 22px, #b7b7b7);
        text-decoration: none;
      }
    }
  }
  .footer-social-icons {
    display: inline-flex;
    gap: 10px;
  }
  .footer-nav-small {
    @include flex-center-center;
    li {
      margin: auto 14px;
      display: inline-block;
      a {
        text-decoration: none;
        @include text-style(Montserrat-Medium, 12px, 22px, #b7b7b7);
      }
    }
  }
}
