.header {
  width: 100%;
  margin-bottom: 27px;
  box-shadow: 0 4px 2px -2px #ececec;
}
.header-nav {
  @include flex-space-between-center;
  margin: 21px 130px 13px 130px;
  .site-logo {
    position: absolute;
    @include left-transform-50;
    @include set-width-height(96px, 20px);
  }
}
.header-menu {
  @include flex-space-between-center;
  gap: 28px;
  .register-btn {
    @include text-style(Montserrat-Regular, 14px, normal, #4d4d4d);
    text-decoration: none;
  }
  .login-btn {
    @include text-style(Montserrat-Bold, 14px, normal, #ffa15f);
    @include set-width-height(120px, 35px);
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    border: solid 1px #ffa15f;
    cursor: pointer;
  }
}
.header-searchbar {
  position: relative;
  input {
    @include set-width-height(181px, 35px);
    border-radius: 17px;
    box-sizing: border-box;
    border: solid 1px #b7b7b7;
    padding-left: 15px;
    &::placeholder {
      font-family: Montserrat-Regular;
      color: #cccccc;
    }
  }
  .search-icon {
    position: absolute;
    right: 12px;
    top: 5px;
    opacity: 0.6;
  }
}

.header-category-nav {
  height: 45px;
  @include page-margin;
  @include flex-center-center;
  li {
    margin: auto 7px;
    display: inline-block;
    a {
      @include text-style("Montserrat-Medium", 14px, 22px, #202124);
      text-decoration: none;
    }
  }
  .icon {
    vertical-align: middle;
  }
}
