@mixin form-input-default {
  height: 48px;
  border-radius: unset;
  border: 1px solid #ededed;
  background-color: #ffffff;
  padding: 14px 16px;
  width: 100%;
  &:focus {
    border-radius: unset;
  }
}
.product-form-container {
  margin: 60px auto;
  width: fit-content;
  @include flex-center-center;
  flex-direction: column;
  gap: 24px;
  .normal-input {
    @include flex-center-center;
    position: relative;
    width: 100%;
    input {
      @include form-input-default;
    }
  }
  .MuiChip-label, .MuiInputBase-input, input{
    @include text-style(Montserrat-Medium, 14px, 20px, #3d3d3f);
  }
}
.add-photos {
  position: relative;
  z-index: 1;
  @include flex-space-between-center;
  gap: 35px;
  margin-bottom: 25px;
  flex-wrap: wrap; //Fix No wrap
  .add-photo {
    vertical-align: middle;
  }
}
.add-photos-tip {
  position: absolute;
  bottom: -20%;
  @include text-style(Montserrat-Medium, 14px, 20px, #acacac);
  margin-bottom: 30px;
}
.photo-input {
  position: relative;
  width: 13vw;
  padding-top: 150%;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  border: 1px solid #ededed;
  border-style: dashed;
  cursor: pointer;
  .close-icon {
    position: absolute;
    top: 3%;
    right: 5%;
  }
  .add-icon-group {
    position: absolute;
    @include top-left-transform-50;
    text-align: center;
    z-index: 100;
    div {
      @include text-style(Montserrat-Medium, 12px, 22px, #acacac);
    }
  }
}
.form-label {
  position: absolute;
  @include text-style(Montserrat-Bold, 12px, 14px, #202124);
  left: -12%; //Fix me
}

.product-description {
  position: relative;
  @include flex-center-center;
  width: 100%;
  .MuiInputBase-root {
    background-color: #ffffff;
    padding: 14px 16px;
  }
}
.product-form-container-wrapper {
  @include flex-center-center;
}
