@mixin whiteButton {
  height: 48px;
  padding: 14px 19px;
  border: solid 1px #ededed;
  border-radius: 2px;
  background-color: #ffffff;
  @include text-style(Montserrat-Medium, 14px, 20px, #3d3d3f);
}
.admin-container {
  background-color: #f6f6f6;
  padding: 26px 20px;
}
.admin-menu-group {
  cursor: pointer;
}
.admin-name {
  @include text-style("Montserrat-Bold", 14px, 24px, #202124);
  margin-left: 16px;
}
* {
  box-sizing: border-box;
}
.MuiButton-root.export-button {
  text-transform: unset;
  background-color: #ffffff;
  @include text-style("Montserrat-SemiBold", 14px, 24px, #ffa15f);
  @include set-width-height(112px, 48px);
}
.MuiButton-root.add-button {
  text-transform: unset;
  border-radius: unset;
  background-color: #ffa15f;
  color: #ffffff;
  @include set-width-height(156px, 48px);
  &:hover {
    background-color: lighten($color: #ffa15f, $amount: 10);
  }
  span {
    @include text-style("Montserrat-SemiBold", 14px, 24px, #ffffff);
  }
}
.admin-feature-bar {
  margin: 32px 0;
  .text-sort-by {
    margin-right: 20px;
    @include text-style("Montserrat-SemiBold", 12px, 18px, #acacac);
  }
  .search-input {
    div {
      border-radius: unset;
      background-color: #ffffff;
      max-height: 48px;
      max-width: 280px;
    }
    border: 1px solid #ededed;
  }
}
.date-filter-button {
  margin-left: 8px;
  @include whiteButton();
}
