.login-body {
  background-image: url("/assets/images/admin/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.login-form {
  margin: 0;
  position: absolute;
  @include top-left-transform-50;
  background-color: rgba(61, 61, 63, 0.9);
  min-width: 380px;
  .login-form-header {
    text-align: center;
    margin-top: 32px;
    @include text-style("Montserrat-Bold", 28px, 36px, #ffa15f);
  }
  .login-form-body {
    position: relative;
    margin: 32px;
    .input-control {
      margin-top: 24px;
      label {
        position: relative;
        margin-bottom: 10px;
        @include text-style("Montserrat-SemiBold", 12px, 18px, #acacac);
      }
      input {
        position: relative;
        display: block;
        @include set-width-height(100%, 46px);
        padding: 12px 24px;
        @include border-unset-all;
        background-color: #f7f7f7;
      }
    }
    .submit-btn {
      position: relative;
      margin-top: 40px;
      @include set-width-height(100%, 50px);
      @include border-unset-all;
      @include text-style("Montserrat-SemiBold", 14px, normal, #ffffff);
      background-color: #ffa15f;
      cursor: pointer;
    }
  }
  .login-form-footer {
    margin: 33px auto;
    @include text-style("Montserrat-SemiBold", 12px, normal, #ffffff);
    text-align: center;
    cursor: pointer;
  }
}
