.big-banner {
  position: relative;
  img {
    @include set-width-height(100%, auto);
    border: 1px solid #ececec;
  }
  .btn-shop-now {
    position: absolute;
    border: none;
    background-color: #ffa15f;
    @include set-width-height(180px, 49px);
    @include text-style("Montserrat-Bold", 16px, normal, #ffffff);
    right: 5%;
    bottom: 10%;
    cursor: pointer;
  }
  .banner-slogan {
    position: absolute;
    @include text-style("Domine-Bold", 36px, normal, #ffffff);
    top: 20%;
    left: 57%;
  }
}
.category-banners {
  margin-top: 14px;
  display: inline-flex;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
}
.category-banner {
  position: relative;
  text-align: center;
  img {
    @include set-width-height(100%, auto);
    border: 1px solid #ececec;
    object-fit: fill;
  }
  .btn-shop-now {
    border: none;
    background-color: #ffa15f;
    @include set-width-height(140px, 40px);
    @include text-style("Montserrat-SemiBold", 14px, normal, #ffffff);
    cursor: pointer;
  }
  .category-name {
    display: block;
    @include text-style("Domine-Bold", 24px, normal, #ffffff);
  }
  .category-line {
    border: none;
    border-top: solid 1px #ececec;
    width: 80%;
  }
  .attribute-group {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
  }
}
