.product-breadcrumb.MuiTypography-root {
  margin-top: 10px;
  margin-bottom: 32px;
  @include flex-center-center;
  a {
    @include text-style(Montserrat-Regular, 14px, 22px, #202124);
  }
}
.product-details {
  .product-name {
    @include text-style(Montserrat-Medium, 24px, 32px, #202124);
  }
  .price {
    @include text-style(Montserrat-Regular, 24px, 32px, #202124);
  }
  .review {
    @include text-style(Montserrat-Regular, 12px, 22px, #202124);
  }
  .attribute-name {
    @include text-style(Montserrat-Medium, 14px, 22px, #202124);
  }
  .description {
    @include text-style(Montserrat-Regular, 12px, 22px, #202124);
  }
}
.product-same-brand {
  margin-bottom: 20px;
  span {
    @include text-style(Montserrat-Medium, 14px, 22px, #202124);
  }
  .brand-name {
    @include text-style(Montserrat-Regular, 14px, 22px, #202124);
  }
}
