.modal {
  position: fixed;
  background: white;
  width: 80%;
  @include top-left-transform-50;
  z-index: 1050;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  .modal-content {
    position: relative;
    margin: 35px 80px 80px 80px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    .input-control {
      margin-bottom: 24px;
      input {
        position: relative;
        display: block;
        @include set-width-height(100%, 46px);
        padding: 12px 24px;
        border-radius: unset;
        border: none;
        background-color: #f7f7f7;
        &::placeholder {
          @include text-style("Montserrat-Medium", 14px, 22px, #4d4d4d);
        }
      }
      label {
        position: relative;
        margin-bottom: 8px;
        @include text-style("Montserrat-Bold", 12px, 18px, #202124);
      }
    }
    .checkbox-control {
      label {
        @include text-style("Montserrat-Medium", 14px, 20px, #202124);
      }
      input {
        padding: 6px;
        vertical-align: middle;
      }
    }
  }
  .login-button,
  .register-button {
    position: relative;
    margin-top: 44px;
  }
  .modal-header {
    position: relative;
    margin-top: 45px;
    text-align: center;
    @include text-style("Montserrat-Bold", 32px, 42px, #202124);
  }
  .modal-footer {
    position: relative;
    border-top: 1px solid #ececec;
    text-align: center;
    padding: 21px 0;
    .login-modal-register {
      @include text-style("Montserrat-Medium", 14px, 22px, #4d4d4d);
    }
  }
  .modal-close {
    margin-right: 15px;
    margin-top: 15px;
    float: right;
    cursor: pointer;
  }
  .login-modal-forgot-password a {
    @include text-style("Montserrat-SemiBold", 14px, 22px, #4d4d4d);
    text-decoration: none;
  }
  .policy-agree {
    @include text-style("Montserrat-Regular", 14px, 22px, #202124);
    text-align: center;
  }
  .orange-underline {
    @include text-orange-underline;
  }
  .space-row {
    @include flex-space-between-center;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  @include set-width-height(100vw, 100vh);
  background-color: #000;
  opacity: 0.5;
}
.modal-error {
  @include text-style(Montserrat-Medium, 12px, 22px, #f63f45);
  text-align: center;
}
