@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url(./fonts/Montserrat/Montserrat-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"),
    url(./fonts/Montserrat/Montserrat-SemiBold.ttf) format("woff");
}
@font-face {
  font-family: "Domine-Bold";
  src: local("Domine-Bold"), url(./fonts/Domine/Domine-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url(./fonts/Montserrat/Montserrat-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
    url(./fonts/Montserrat/Montserrat-Medium.ttf) format("woff");
}
.container {
  margin-left: 130px;
  margin-right: 130px;
}
.header {
  width: 100%;
  margin-bottom: 27px;
  box-shadow: 0 4px 2px -2px #ececec;
}
.header-row {
  margin-left: 130px;
  margin-right: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 13px;
}
.header-menu {
  width: 256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo {
  width: 96px;
  height: 20px;
}
.header-searchbar {
  position: relative;
}
.header-searchbar input {
  box-sizing: border-box;
  border: solid 1px #b7b7b7;
  height: 35px;
  width: 181px;
  border-radius: 17px;
  padding-left: 15px;
}
.header-searchbar input::placeholder {
  display: none;
  font-family: Montserrat-Regular;
  color: #cccccc;
  font-weight: 14px;
}
.header-searchbar > .search-icon {
  position: absolute;
  right: 12px;
  top: 5px;
  opacity: 0.6;
}
.header-menu a {
  font-family: "Montserrat-Regular";
  text-decoration: none;
  color: #4d4d4d;
  font-size: 14px;
}
.header-menu button {
  font-family: "Montserrat-Bold";
  background-color: #ffffff;
  width: 120px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 100px;
  border: solid 1px #ffa15f;
  color: #ffa15f;
  cursor: pointer;
}
.header-category {
  margin-left: 130px;
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-category li {
  margin: auto 7px;
  display: inline-block;
}
.header-category a {
  font-family: "Montserrat-Medium";
  text-decoration: none;
  color: #202124;
  display: inline-block;
}
.header-category img {
  vertical-align: middle;
}
.line {
  border: none;
  border-top: solid 1px #ececec;
}
.big-banner {
  position: relative;
}
.big-banner img {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
}
.big-banner .btn-shop-now {
  position: absolute;
  border: none;
  background-color: #ffa15f;
  width: 180px;
  height: 49px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat-Bold";
  right: 5%;
  bottom: 10%;
  cursor: pointer;
}
.big-banner .banner-slogan {
  position: absolute;
  font-family: "Domine-Bold";
  font-size: 36px;
  color: #ffffff;
  top: 20%;
  left: 57%;
}
.category-banners {
  margin-top: 14px;
  display: inline-flex;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
}
.category-banner {
  position: relative;
  text-align: center;
}
.category-banner img {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  object-fit: fill;
}
.category-banner .btn-shop-now {
  position: absolute;
  border: none;
  background-color: #ffa15f;
  width: 140px;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat-SemiBold";
  cursor: pointer;
}
.category-banner .category-name {
  display: block;
  font-family: "Domine-Bold";
  font-size: 24px;
  color: #ffffff;
}
.category-banner .category-btn {
  margin-left: -50%;
}
.category-line {
  border: none;
  border-top: solid 1px #ececec;
  width: 80%;
}
.category-banner .attribute-group {
  position: absolute;
  bottom: 18%;
  left: 0;
  right: 0;
}
.footer {
  margin-top: 37px;
  box-shadow: 0 -5px 5px -5px #ececec;
}
.footer .footer-row {
  margin-left: 130px;
  margin-right: 130px;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-row2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;
  margin-right: 130px;
  min-height: 65px;
}
.footer .footer-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-nav li {
  margin: auto 18px;
  display: inline-block;
}
.footer .footer-nav a {
  font-family: "Montserrat-Regular";
  text-decoration: none;
  font-size: 14px;
  color: #b7b7b7;
  display: inline-block;
}
.footer .footer-social-icons{
  display: inline-flex;
  gap: 10px;
}